/* Modal styling */
.signinup-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }  
  .signinup-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }  
  .signinup-modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .signinup-modal-close-btn {
    position: absolute;
    width: 35px;
    height: 35px;    
    top: 20px;
    right: 40px;
    border-radius: 10px;
    cursor: pointer;
  }  

  /* signup */
  .signinup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 5px;
  }
  .signinup-container p{cursor: pointer;}
  .signinup-input{width: 250px; height: 35px;border-radius: 5px;}
  .signinup-input-long{ width: 250px;border-radius: 5px;}
  .submit-button{ 
    width: 250px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
  }