
.products-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.products-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    padding-top: 110px;
}
.products-header img{
    width: 100%;
}
.products-list-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 94%;
    padding-top: 110px;
}
.products-list-small-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 48%;
    cursor: pointer;
}
.header-small-card-prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 13%;
    width: 100%;
    background: #cdcccc;
    border-radius: 20px 20px 0 0;
    gap: 2%;
}
.header-small-card-prices p{
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}
.prices-table-body{
    background: white;
    width: 100%;
    height: 100%;
}
.prices-item-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid black;
    width: 100%;

}
.prices-item{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 13%;
    gap: 3%;
}
.product-img{ 
    width: 50px;
    height: 50px;
}
.product-name{
    font-size: 16px;
    font-weight: 500;
    width: 180px;
}
.product-price{
    direction: ltr;
    font-size: 16px;
    font-weight: 800;
    width: 200px;
}
.product-price-sign{
    font-size: 16px;
    font-weight: 500;
    width: 110px;
}
.product-amount-txb{
    width: 60px;
}
.add-to-cart-butn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: palegreen;
    color: green;
    border: 1px solid rgb(0, 69, 10);
    font-size: 16px;
    width: 20%;
    border-radius: 5px;
    border-radius: 5px;
    margin-top: 15px;
    height: 50px;
    cursor: pointer;
}
@media (max-width:1380px){    
}
@media (max-width:865px){ 
}
@media (max-width:653px){  
}
@media (max-width:545px){ 
    .products-list-container{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    .products-list-small-card{
        width: 100%;
    }
    .header-small-card-prices{
        width: 100%;
    }
    .prices-table-body{
        width: 100%;
    }
    .add-to-cart-butn{
        width: 60%;
        height: 50px;
    }
    .header-small-card-prices p{
        margin: 10px;
        font-size: 13px;
        font-weight: 600;
    }    
    .prices-item{    
        display: grid;
        grid-template-columns: 120px 1fr; /* 2 columns of equal width */
        gap: 2px; /* Spacing between the boxes */
        max-width: 100%; /* Optional: Control the total width */
        width: 100%;
        padding: 2px;
    }
    .product-img{ 
        width: 50px;
        height: 50px;
    }
    .product-name{
        font-size: 16px;
        font-weight: 500;
        width: 75%;
    }
    .product-price{
        direction: ltr;
        font-size: 16px;
        font-weight: 800;
        width: 95%;
    }
    .product-price-sign{
        font-size: 16px;
        font-weight: 500;
        width: 70%;
    }
    .product-amount-txb{
        width: 60px;
    }
    .product-kilo{
        width: 60px;
    }
}
