.ads-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}
 .ads-title{
  padding-top: 50px;
} 
.adslist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    height: 730px;
    direction: ltr;
    overflow-y: scroll;
    gap: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 20px;
    border-radius: 8px;
}
.additem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    direction: ltr;
    height: 150px;
    border: 1px solid #281713;
    cursor: pointer;
}
.add-card-header{
  background: #fefefe;
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.add-card-header h4{overflow: hidden;}
.add-card-body{
  width: 100%;
  height: 86%;
  padding: 10px;
  padding-left: 200px;
  overflow-y:  hidden;
}
.add-card-body p{
  width: 90%;
    text-align: justify;
}
.adpic{
    width: 45%;    
}
.addetails{
    display: flex;
    flex-direction: column;
    direction: rtl;
    align-items: flex-start;
    justify-content: flex-start;
    width: 55%;
    height: 100%;
}

/* The Modal (background) */
.ads-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }  
.ads-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* Modal Content */
  .ads-modal-content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    border: 3px solid #888;
    border-radius: 8px;
}
  
  /* The Close Button */
  .close {
    display: block;
    width: 5%;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    right: 20px;
    top: 20px;
  }  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .ads-modal-item-closebutton-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
  }
  .ads-modal-item-image-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: flex-start;
  }  
  .ads-modal-item-image-container img{
    width: 100%;
    border-radius: 8px;
  }
  .ads-modal-item-detail-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    padding: 10px;
    overflow-y: hidden;
  }
  .ads-modal-item-detail-container div{
    gap: 10px;
  }
  @media (max-width:545px){  
    .adslist{
      grid-template-columns: 1fr;
    }
    .add-card-body p{
      width: 90%;
    }
    
  .ads-modal-content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    border: 3px solid #888;
    border-radius: 8px;
  }

.adpic{
  width: 90%;    
}
}