.products-manager-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: auto;
}
.btns-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}
.add-new-product-container{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 350px;
    width: 200px;
}
.add-new-product-container input{
    margin-bottom: 15px;
    width: 95%;
}
.add-new-product-container select{
    margin-bottom: 15px;
    width: 95%;
}
.add-new-product-container button{width: 100%;}
.add-new-product-file-upload-label{
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    width: 92%;
}

/* buttons */
.btns-row div{cursor: pointer; padding: 5px;}
.btn-addproduct{background: lightgreen; border: 3px solid darkgreen; border-radius: 5px;}
.btn-addproduct p{color: darkgreen;}
.btn-savechanges{background: lightyellow; border: 3px solid rgb(129, 126, 0); border-radius: 5px;}
.btn-savechanges p{color: rgb(129, 126, 0);}


.admin-products-list-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 94%;
    overflow-y: auto;
}

@media(max-width:800px){
}
@media(max-width:500px){
    .admin-products-list-container{
        flex-direction: column;
        width: 100%;
        gap: 20px;
        overflow-y: scroll;
    }
}