
.products-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1800px;
}
.products-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    padding-top: 110px;
}
.products-header img{
    width: 100%;
    height: 95%;
}
.products-list-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 94%;
    padding-top: 110px;
}

.products-list-small-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 48%;
    cursor: pointer;
}


.header-small-card-prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 13%;
    width: 100%;
    background: #cdcccc;
    border-radius: 20px 20px 0 0;
    gap: 2%;
}
.header-small-card-prices p{
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}


.body-small-card-prices{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background: white;
    width: 100%;
    height: 87%;
    border-radius:0px 0px 20px 20px;
}

/*Left*/
.prices-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
}
.prices-item-left{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.prices-item-left p{    
    font-size: 16px;
    font-weight: 500;
}
.product-amount-txb{
    width: 60px;
}
.prices-item-left p{    
    padding-right: 10px;
}

/*middle*/
.prices-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
}
.prices-item-middle{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.prices-item-middle p{    
    font-size: 16px;
    font-weight: 500;
}

/*Right*/
.prices-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 65%;
    height: 100%;
}
.prices-item-right{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 13%;
    gap: 3%;
}
.prices-item-right img{ 
    margin-right: 6%;   
    width: 50px;
    height: 50px;
}
.prices-item-right p{    
    font-size: 16px;
    font-weight: 500;
}

.add-to-cart-butn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    width: 20%;
    border-radius: 5px;
    margin-top: 15px;
    height: 80px;
    cursor: pointer;
}