.user-container{
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    width: 95%;
}

.user-list-body{
    width: 98%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
    gap: 5px;
}
.user-users-list-body hr{width: 80%;}
.user-list-container{
    overflow-y: auto;
    width: 100%;
}
.user-list-table-header{
    width: 97%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 3fr;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom:2px;
    color: #454545;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 9px;
}
.user-list-table-item{
    width: 97%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 9px;
}
.user-item-row{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 3fr;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    color: #454545;
    font-size: 15px;
    font-weight: 400;
}
.user-item-details{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    padding: 2px;
    color: #454545;
    font-size: 15px;
    font-weight: 400;
}
.products-list-in-user-details{
    display: flex;
    flex-direction: column;
}
.user-item-row p{
    cursor: pointer;
}

.btn-savechanges-users{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c1feb8;
    cursor: pointer;
    width: 50px;
    height: 25px;
    font-family: "light";
}
.btn-show-details-users{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffe4a1;
    cursor: pointer;
    width: 110px;
    height: 25px;
    font-family: "light";
}
.div-user-status{
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.user-section{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.user-details{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 9px;
}
.user-change-details-body{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.user-container input{
    height: 50px;
    width: 90%;
    border: 3px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    font-family: "Light";
    border-radius: 9px;
}
.field-div-p{
    width: 25%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 10px;
    gap: 25px;
}
.field-div-input{
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-change-pass{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 9px;
}
.user-change-pass-body{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#user-status{width: 110px;}
@media(max-width:1024px){
    .user-users-list-table-item{
        gap: 5px;
        font-size: 14px;
        font-weight: 400;
    }

}
@media(max-width:800px){
.user-item-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}