/* Modal styling */
.cartmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  }
  
  .cartmodal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .cartmodal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .modal-close-btn {
    position: absolute;
    width: 35px;
    height: 35px;    
    top: 20px;
    right: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 800;
  }  


.cartproducts-list-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 94%;
    padding-top: 20px;
}


.shipping-total-row-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
  width: 94%;
  margin-top: 20px;
}
.shipping-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 48%;
  border: 2px solid #cdcccc;
  height: 300px;
  border-radius: 20px 20px 0 0;
}
.shipping-header{
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  background: #cdcccc;  
  border-radius: 20px 20px 0 0; 
  gap: 2%;
}
.shipping-item{  margin-right: 20px;  width: 30%;}
.shipping-container textarea{  height: 50px;}
.total-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 48%;
  border: 2px solid #cdcccc;
  height: 300px;
  gap: 19px;
  border-radius: 20px 20px 0 0;
}
.total-header{
  width: 100%;
  background: #cdcccc;  
  border-radius: 20px 20px 0 0; 
  gap: 2%; 
  display: flex;
  justify-content: center; 
  align-items: center;
}
.total-item{  margin-right: 20px;  width: 30%; gap: 25px;}
.checkout-btn{    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: palegreen;
    color: green;
    border: 1px solid rgb(0, 69, 10);
    font-size: 16px;
    width: 100px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}
@media (max-width:1380px){  
}
@media (max-width:865px){  
}
@media (max-width:653px){  
}
@media (max-width:545px){   
  .products-list-container{
    flex-direction: column;
    gap: 20px;
  }
  .products-list-small-card{
      width: 90%;
  }
  .header-small-card-prices{
      width: 100%;
      height: 40px;
  }
  .prices-table-body{
      width: 100%;
  }
  .add-to-cart-butn{
      width: 60%;
      height: 50px;
  }
  .header-small-card-prices p{
      margin: 10px;
      font-size: 13px;
      font-weight: 600;
  }
  .checkout-btn{    
      width: 30%;
      border-radius: 5px;
      height: 30px;
      cursor: pointer;
  }
  .cartmodal-close-btn {right: 20px;}
  .shipping-total-row-container{flex-direction: column; gap: 50px;}
  .shipping-container{width: 100%;}
  .shipping-headerP{}
  .shipping-item{  margin-right: 20px;  width: 80%;}
  .shipping-container textarea{  height: 50px;}
  .total-container{width: 100%;}
  .total-header{}
  .total-item{  margin-right: 20px;  width: 80%; gap: 25px;}

}